<ul class="nav nav-plills nav-justified">
	<li class="nav-brand">
		Recipe Book
	</li>
	<li class="nav-item" routerLinkActive="active">
		<a routerLink="home" class="nav-link">Recipes</a>
	</li>
	<li class="nav-item" routerLinkActive="active">
		<a routerLink="/shoppinglist" class="nav-link">Shopping List</a>
	</li>
	<li class="nav-item dropdown" dropdown>
		<a class="nav-link dropdown-toggle" dropdownToggle type="button" id="navbarDropdown" role="button">manage</a>
		<div class="dropdown-menu" aria-labelledby="navbarDropdown" *dropdownMenu>
			<a class="dropdown-item" type="data" (click)="onSaveServer()">save data</a>
			<a class="dropdown-item" href="#">fetch data</a>
		</div>
	</li>
</ul>
